import Axios, {AxiosPromise, AxiosRequestConfig} from "axios";

interface Result {
success: boolean;
data: any;
code: number;
message: string;
}

/**
* {{&title}}
* {{&description}}
* 接口数量:{{&methodCount}}
*/
export default {
_baseURL: '{{&_baseURL}}',
_instance: null,

get getInstance() {
if (!this._instance) {
this._instance = Axios.create({
baseURL: this._baseURL
})
}
return this._instance;
},

set baseURL(url) {
if (this._instance) {
throw new Error('Axios已实例化，无效操作');
}
this._baseURL = url;
},

getQueryParams(query) {
let queryParams = '';
if (query) {
queryParams = Object.keys(query).map(key => `${key}=${query[key]}`).join('&')
}
return queryParams ? '?' + queryParams : '';
},

{{#methods}}
    {{> method}}

{{/methods}}
}
