/**
* {{&description}}
* @method
*/
{{&methodName}}(
{{#params}}
    {
    path, query = {}, body = {}, config = {}
    }: {
    path{{^path}}?{{/path}}: {
    {{#path}}
        {{key}}:{{type}};
    {{/path}}
    },
    query?: {
    {{#query}}
        {{#description}}
            // {{&description}}
        {{/description}}
        {{key}}{{#optional}}?{{/optional}}:{{type}};
    {{/query}}
    },
    body?: {
    {{#body}}
        {{#description}}
            // {{&description}}
        {{/description}}
        {{key}}{{#optional}}?{{/optional}}:{{type}};
    {{/body}}
    },
    config? : AxiosRequestConfig
    } | any = {}
{{/params}}
): {{&responseType}} {

const requestParams = {
url: `{{&url}}` + this.getQueryParams(query),
method: '{{&requestMethod}}',
data: body,
...config
};

{{#useAxios}}
    return this.getInstance.request(requestParams);
{{/useAxios}}
{{^useAxios}}
    return requestParams;
{{/useAxios}}
},
